[submodule "plugins/MultiBigWig"]
	path = plugins/MultiBigWig
	url = ../../elsiklab/multibigwig.git
[submodule "plugins/InteractivePeakAnnotator"]
	path = plugins/InteractivePeakAnnotator
	url = ../../cmdcolin/interactivepeakannotator.git
[submodule "plugins/WiggleHighlighter"]
	path = plugins/WiggleHighlighter
	url = ../../cmdcolin/wigglehighlighter.git
[submodule "plugins/PeakLearnerBackend"]
	path = plugins/PeakLearnerBackend
	url = ../PeakLearnerPlugin.git
